/old_file_system/default/ghost_stuff/
/old_file_system/default/dict.txt
/txts/api_keys.txt
/snpy/
/temp.txt
/twomass++_velocity_LH11.npy
/old_file_system/txts/APIkeys.txt
/old_file_system/twomass++_velocity_LH11.npy
/data/allCSP-I_tarball.tgz
/data/legacy/
/data/DR3/._tab1.dat
/data/DR3/.format_data.py.swp
/data/DR3/README
/data/DR3/SN2004dt_snpy.txt
/data/DR3/SN2004ef_snpy.txt
/data/DR3/SN2004eo_snpy.txt
/data/DR3/SN2004ey_snpy.txt
/data/DR3/SN2004gc_snpy.txt
/data/DR3/SN2004gs_snpy.txt
/data/DR3/SN2004gu_snpy.txt
/data/DR3/SN2005A_snpy.txt
/data/DR3/SN2005ag_snpy.txt
/data/DR3/SN2005al_snpy.txt
/data/DR3/SN2005am_snpy.txt
/data/DR3/SN2005be_snpy.txt
/data/DR3/SN2005bg_snpy.txt
/data/DR3/SN2005bl_snpy.txt
/data/DR3/SN2005bo_snpy.txt
/data/DR3/SN2005el_snpy.txt
/data/DR3/SN2005eq_snpy.txt
/data/DR3/SN2005gj_snpy.txt
/data/DR3/SN2005hc_snpy.txt
/data/DR3/SN2005hj_snpy.txt
/data/DR3/SN2005hk_snpy.txt
/data/DR3/SN2005iq_snpy.txt
/data/DR3/SN2005ir_snpy.txt
/data/DR3/SN2005kc_snpy.txt
/data/DR3/SN2005ke_snpy.txt
/data/DR3/SN2005ki_snpy.txt
/data/DR3/SN2005ku_snpy.txt
/data/DR3/SN2005lu_snpy.txt
/data/DR3/SN2005M_snpy.txt
/data/DR3/SN2005mc_snpy.txt
/data/DR3/SN2005na_snpy.txt
/data/DR3/SN2005W_snpy.txt
/data/DR3/SN2006ax_snpy.txt
/data/DR3/SN2006bd_snpy.txt
/data/DR3/SN2006bh_snpy.txt
/data/DR3/SN2006br_snpy.txt
/data/DR3/SN2006bt_snpy.txt
/data/DR3/SN2006D_snpy.txt
/data/DR3/SN2006dd_snpy.txt
/data/DR3/SN2006ef_snpy.txt
/data/DR3/SN2006ej_snpy.txt
/data/DR3/SN2006eq_snpy.txt
/data/DR3/SN2006et_snpy.txt
/data/DR3/SN2006ev_snpy.txt
/data/DR3/SN2006fw_snpy.txt
/data/DR3/SN2006gj_snpy.txt
/data/DR3/SN2006gt_snpy.txt
/data/DR3/SN2006hb_snpy.txt
/data/DR3/SN2006hx_snpy.txt
/data/DR3/SN2006is_snpy.txt
/data/DR3/SN2006kf_snpy.txt
/data/DR3/SN2006lu_snpy.txt
/data/DR3/SN2006mr_snpy.txt
/data/DR3/SN2006ob_snpy.txt
/data/DR3/SN2006os_snpy.txt
/data/DR3/SN2006ot_snpy.txt
/data/DR3/SN2006py_snpy.txt
/data/DR3/SN2006X_snpy.txt
/data/DR3/SN2007A_snpy.txt
/data/DR3/SN2007af_snpy.txt
/data/DR3/SN2007ai_snpy.txt
/data/DR3/SN2007al_snpy.txt
/data/DR3/SN2007as_snpy.txt
/data/DR3/SN2007ax_snpy.txt
/data/DR3/SN2007ba_snpy.txt
/data/DR3/SN2007bc_snpy.txt
/data/DR3/SN2007bd_snpy.txt
/data/DR3/SN2007bm_snpy.txt
/data/DR3/SN2007ca_snpy.txt
/data/DR3/SN2007cg_snpy.txt
/data/DR3/SN2007hj_snpy.txt
/data/DR3/SN2007hx_snpy.txt
/data/DR3/SN2007if_snpy.txt
/data/DR3/SN2007jd_snpy.txt
/data/DR3/SN2007jg_snpy.txt
/data/DR3/SN2007jh_snpy.txt
/data/DR3/SN2007le_snpy.txt
/data/DR3/SN2007mm_snpy.txt
/data/DR3/SN2007N_snpy.txt
/data/DR3/SN2007nq_snpy.txt
/data/DR3/SN2007ol_snpy.txt
/data/DR3/SN2007on_snpy.txt
/data/DR3/SN2007S_snpy.txt
/data/DR3/SN2007so_snpy.txt
/data/DR3/SN2007sr_snpy.txt
/data/DR3/SN2007st_snpy.txt
/data/DR3/SN2007ux_snpy.txt
/data/DR3/SN2008ae_snpy.txt
/data/DR3/SN2008ar_snpy.txt
/data/DR3/SN2008bc_snpy.txt
/data/DR3/SN2008bd_snpy.txt
/data/DR3/SN2008bf_snpy.txt
/data/DR3/SN2008bi_snpy.txt
/data/DR3/SN2008bq_snpy.txt
/data/DR3/SN2008bt_snpy.txt
/data/DR3/SN2008bz_snpy.txt
/data/DR3/SN2008C_snpy.txt
/data/DR3/SN2008cc_snpy.txt
/data/DR3/SN2008cd_snpy.txt
/data/DR3/SN2008cf_snpy.txt
/data/DR3/SN2008ff_snpy.txt
/data/DR3/SN2008fl_snpy.txt
/data/DR3/SN2008fp_snpy.txt
/data/DR3/SN2008fr_snpy.txt
/data/DR3/SN2008fu_snpy.txt
/data/DR3/SN2008fw_snpy.txt
/data/DR3/SN2008gg_snpy.txt
/data/DR3/SN2008gl_snpy.txt
/data/DR3/SN2008go_snpy.txt
/data/DR3/SN2008gp_snpy.txt
/data/DR3/SN2008ha_snpy.txt
/data/DR3/SN2008hj_snpy.txt
/data/DR3/SN2008hu_snpy.txt
/data/DR3/SN2008hv_snpy.txt
/data/DR3/SN2008ia_snpy.txt
/data/DR3/SN2008J_snpy.txt
/data/DR3/SN2008O_snpy.txt
/data/DR3/SN2008R_snpy.txt
/data/DR3/SN2009aa_snpy.txt
/data/DR3/SN2009ab_snpy.txt
/data/DR3/SN2009ad_snpy.txt
/data/DR3/SN2009ag_snpy.txt
/data/DR3/SN2009al_snpy.txt
/data/DR3/SN2009cz_snpy.txt
/data/DR3/SN2009D_snpy.txt
/data/DR3/SN2009dc_snpy.txt
/data/DR3/SN2009ds_snpy.txt
/data/DR3/SN2009F_snpy.txt
/data/DR3/SN2009I_snpy.txt
/data/DR3/SN2009J_snpy.txt
/data/DR3/SN2009le_snpy.txt
/data/DR3/SN2009P_snpy.txt
/data/DR3/SN2009Y_snpy.txt
/data/DR3/SN2010ae_snpy.txt
/data/DR3/SN_photo.dat
/data/DR3/tab1.dat
