/old_file_system/default/ghost_stuff/
/old_file_system/default/dict.txt
/txts/api_keys.txt
/snpy/
/temp.txt
/twomass++_velocity_LH11.npy
/old_file_system/txts/APIkeys.txt
/old_file_system/twomass++_velocity_LH11.npy
